In [1]:
import pandas as pd
import numpy as np
true_df=pd.read_csv('True.csv')
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [2]:
fake_df= pd.read_csv('Fake.csv')
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [3]:
fake_df['label']=0
true_df['label']=1

In [4]:
fake_df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [5]:
fake_df.drop(['title','subject','date'],axis=1)

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

[23481 rows x 2 columns]

In [6]:
true_df.drop(['title','subject','date'],axis=1)

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[21417 rows x 2 columns]

In [7]:
true_fake=pd.concat([true_df,fake_df],axis=0)
true_fake.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
true_fake=true_fake.sample(frac=1)
true_fake.reset_index(inplace=True)
true_fake.head()

,index,title,text,subject,date,label
0,17245,SAY WHAT? AMAZON TELLS CUSTOMER THEY WERE FORC...,"When it comes to limiting our free speech, not...",Government News,"Jun 25, 2015",0
1,10576,RATINGS FOR NBC’S Backstabbing Megyn Kelly Are...,"Last week, Alex Jones scooped NBC and Megyn Ke...",politics,"Jun 19, 2017",0
2,8865,Racist Moron Gets Fired For This 20 Second Vi...,It s not often that the stupidity of a racist ...,News,"January 9, 2016",0
3,235,U.S. House committee 'may reconsider' WHO canc...,LONDON (Reuters) - U.S. congressional committe...,politicsNews,"December 8, 2017",1
4,22241,Trump Supporters Attacked By Liberal Protester...,21st Century Wire says Trump protests are get...,US_News,"January 30, 2017",0

In [9]:
true_fake.drop(['index'],axis=1)

,title,text,subject,date,label
0,SAY WHAT? AMAZON TELLS CUSTOMER THEY WERE FORC...,"When it comes to limiting our free speech, not...",Government News,"Jun 25, 2015",0
1,RATINGS FOR NBC’S Backstabbing Megyn Kelly Are...,"Last week, Alex Jones scooped NBC and Megyn Ke...",politics,"Jun 19, 2017",0
2,Racist Moron Gets Fired For This 20 Second Vi...,It s not often that the stupidity of a racist ...,News,"January 9, 2016",0
3,U.S. House committee 'may reconsider' WHO canc...,LONDON (Reuters) - U.S. congressional committe...,politicsNews,"December 8, 2017",1
4,Trump Supporters Attacked By Liberal Protester...,21st Century Wire says Trump protests are get...,US_News,"January 30, 2017",0
...,...,...,...,...,...
44893,#WarOnChristmas: Starbucks Attempts To Capital...,War on Christmas update: Some very clever peop...,politics,"Nov 9, 2015",0
44894,China urges North Korea not to go further in a...,UNITED NATIONS (Reuters) - China’s foreign min...,politicsNews,"September 21, 2017",1
44895,Trump: U.S. has 'no choice' but to deal with N...,WASHINGTON (Reuters) - President Donald Trump ...,worldnews,"December 18, 2017",1
44896,#LockHimUp Former Oversight Chair Jason Chaffe...,President Donald Trump targeted former FBI Dir...,left-news,"Jul 10, 2017",0
44897,Senate to take up House Puerto Rico debt bill ...,WASHINGTON (Reuters) - U.S. Senate Majority Le...,politicsNews,"June 14, 2016",1

In [10]:
import re
import string

def wordopt(t):  
    # Convert text to lowercase
    t = t.lower()
    # Remove text within square brackets
    t = re.sub(r'\[.*?\]', '', t)
    # Remove URLs
    t = re.sub(r'https?://\S+|www\.\S+', '', t)
    # Remove HTML tags
    t = re.sub(r'<.*?>', '', t)    
    # Remove non-alphanumeric characters (keeping spaces)
    t = re.sub(r'\W+', ' ', t)    
    # Remove newline characters
    t = re.sub(r'\n', ' ', t)    
    # Remove words containing digits
    t = re.sub(r'\b\w*\d\w*\b', '', t)
    # Remove extra spaces resulting from removal of punctuation, digits, etc.
    t = re.sub(r'\s+', ' ', t).strip()    
    return t

In [11]:
x=true_fake['text']
y=true_fake['label']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [13]:
x_train.shape,y_train.shape

((31428,), (31428,))

In [14]:
x_test.shape,y_test.shape

((13470,), (13470,))

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
x_train=tfidf.fit_transform(x_train)
x_test=tfidf.fit_transform(x_test)

In [20]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

ValueError: X has 72535 features, but LogisticRegression is expecting 106152 features as input.